.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.toolset {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#panel {
    margin-left: 3em;
    display: flex;
    flex-direction: column;
    width: 70vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.commandGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 0.5em;
}

.commandGroup>*:last-child {

    /* margin-left: auto; */
    margin-right: 0.5em;
}

.commandGroup input{
    /* margin-left: 1em; */
    margin-right: 1em;
}

hr.solid {
    border-top: 1px solid #bbb;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: -5px;
    margin-bottom: 8px;
}
  
.hidden {
    display: none;
}

.search-box {
    height: 3em;
    transition: all ease-in-out 0.5s;
}