.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.toolset {
    display: flex;
    flex-direction: column;
}

#panel {
    margin-left: 3em;
    display: flex;
    flex-direction: column;
    margin-right: 3em;
    min-width: 30em;
    overflow-y: auto;
}

.commandGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 0.5em;
}

hr.solid {
    border-top: 1px solid #bbb;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: -5px;
    margin-bottom: 8px;
}
  