#playerList {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.playerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  padding: 6px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
}

.zebra {
  background-color: #eee;
}